.search {
  margin: 98px 70px 0;
  padding-bottom: 39px;
  border-bottom: 1px #424242 solid;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 44px;
  column-gap: 10px;
  row-gap: 46px;
}

.search-form__input {
  height: 50px;
  padding-left: 20px;
  background-color: #2F2F2F;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.search-form__input:focus {
  font-weight: 500;
}

.search-form__button {
  align-self: center;
  height: 44px;
  background-image: url(../../images/find-btn.svg);
  border-radius: 8px;
  border: none;
}

.search-form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .search {
    margin: 90px 30px 0;
    gap: 40px;
  }
}

@media screen and (max-width: 480px) {
  .search {
    margin-left: 14px;
    margin-right: 14px;
    gap: 45px;
  }

  .search-form__input {
    height: 44px;
  }
}